*{
  box-sizing: border-box;
}

body {
  margin: 0;
}


.group1 .box{
  background-color: #FFD700
}
.group2 .box{
  background-color: #FE5000
}
.group3 .box{
  background-color:#EF3340
}
.group4 .box{
  background-color: #E10098
}
.group5 .box{
  background-color: #BB29BB
}
.group6 .box{
  background-color: #440099
}
.group7 .box{
  background-color: #F2F0A1
}
.group8 .box{
  background-color: #FCAEBB
}
.group9 .box{
  background-color: #BF9BDE
}
.group10 .box {
  background-color: #74D1EA
}
.group11 .box {
  background-color: #FFAA4D
}
.group12 .box {
  background-color: #FF7276
}

/* 모든 디바이스 */
.container {
  background: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}

div[class*="group"] {
  width: 100%;
  margin: 0;
}

.box {
  margin: 12px;
  height: 150px;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
  }

  div.group1,
  div.group4 {
    width: 100%;
  }
}

/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
  }

  div.group2 {
    order: 1;
  }

  div.group1,
  div.group12 {
    width: 75%;
  }
}